<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I dettagli su un appunto </title>
</head>
<body>
    <h2> proprietario dell'appunto: Marco</h2>
    <h2> scaricare l'appunto </h2>

    <h3> le ricenzioni sull'appunto :</h3>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
        <p> questo appunto è stato preso molto bene e mi è servito a passare analisi1 ...</p>
    <h3> ricenzionare l'appunto  </h3>
    <h3> dare un voto all'appunto </h3>


</body>
</html>