{% extends 'template_base.html' %}
{% block title %}
    pagine di benvenuto della pagine
{% endblock title %}
{% block content %}
    <h1> Benveuto su MyNote:</h1>
    <p> <b>MyNote</b> è un applicazione web che permete la gestione degli appunti digitali in formato pdf</p>
    <h2> cosa puoi fare su MyNote: </h2>
    <ul>
        <li> consultare gli appunti caricati per materia</li>
        <li> ricenzionare un appunto se vuoi </li>
        <li> votare un appunto </li>
        <li> scaricare un appunto</li>
        <li> caricare un appunto </li>
        <li> consultare gli appunti per studente</li>

    </ul>
{% endblock content %}